._1aqb{width:496px}
._4-n8{float:right;margin-left:5px;margin-top:0}
.sp_J1Z65Bcp4B5{background-image:url(/rsrc.php/v3/y0/r/_If6Ktxy2oa.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:64px;width:64px}.sp_J1Z65Bcp4B5.sx_da7a26{background-position:0 0}.sp_J1Z65Bcp4B5.sx_4be36e{background-position:0 -65px}

#bootloader_2hgsd{height:42px;}.bootloader_2hgsd{display:block!important;}