
/* ::::: null ::::: */

a.rh-ms-mute-undo { color: rgb(0, 83, 249); }
body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: "Roboto",arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); height: 148px; width: 148px; }
#ads { height: 148px; left: 1px; position: absolute; top: 1px; width: 148px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.rh-gradient { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 1px; width: 148px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 1px; width: 148px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 1px; width: 0px; height: 148px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 1px; width: 0px; height: 148px; }
.rhtitle.rhdefaultcolored { color: rgb(0, 83, 249); }
.rhtitle { text-decoration: none; overflow-wrap: break-word; }
a.rhtitle:hover { text-decoration: underline; }
.rhbody.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhbody { text-decoration: none; overflow-wrap: break-word; }
a.rhbody:hover { text-decoration: underline; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
.rhurl.rhdefaultcolored:hover, .rhurlctr.rhdefaultcolored, .rhurl.rhdefaultcolored span, .rhurl.rhdefaultcolored span:hover { color: rgb(130, 130, 130); }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; visibility: visible; white-space: nowrap; }
.onhoverbg { background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.taw0 .rh6 .rhbutton-container { text-align: center; width: 144px; left: -36px; }
.taw0 .rh6 .rhbutton { background: rgb(63, 63, 63) none repeat scroll 0% 0%; border-radius: 4px; border-width: 0px; height: 36px; min-width: 72px; max-width: 144px; }
.taw0 .rh6 .rhbutton:hover { background: rgb(90, 90, 90) none repeat scroll 0% 0%; }
.taw0 .rh6 .icon-container { height: 36px; line-height: 36px; width: 16px; }
.taw0 .rh6 .icon, .taw0 .rh6 .icon-container .rhsvgpngicon { height: 16px; margin-left: 1px; vertical-align: top; margin-top: 10px; }
.rhprice.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhprice { white-space: nowrap; overflow-wrap: break-word; }
.rhsaleprice.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhsaleprice { font-weight: normal; text-decoration: line-through; white-space: nowrap; overflow-wrap: break-word; }
.rhprice { text-decoration: none; }
a.rhprice:hover { text-decoration: underline; }
#ads .rh0 { opacity: 0.8; }
#ads .rh0 .rhtitle { color: rgb(0, 0, 0); }
#ads .rh3 { opacity: 0.8; }
#ads .rh4 { opacity: 0.6; }
#ads .rh4 .rhurl { color: rgb(0, 0, 0); }
.rh { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 148px; }
.rh > table { width: 100%; }
.rh0 { display: inline-block; font-size: 12px; line-height: 15px; max-width: 146px; overflow: hidden; padding: 3px 1px; }
.rh0c { height: 0px; padding: 0px; }
.rh2 { display: inline-block; font-family: "Roboto",arial,sans-serif; font-size: 12px; font-weight: 700; line-height: 14px; max-width: 148px; overflow: hidden; padding: 0px; white-space: nowrap; }
.rh2c { padding: 0px; }
.rh3 { display: inline-block; font-size: 10px; line-height: 14px; max-width: 146px; overflow: hidden; padding: 0px 1px; }
.rh3c { padding: 0px; }
.rh4 { display: inline-block; font-size: 10px; line-height: 12px; max-width: 146px; overflow: hidden; padding: 2px 1px; }
.rh4c { padding: 0px; }
.rh6 { display: inline-block; font-size: 12px; height: 36px; line-height: 14px; padding: 2px 4px; width: 72px; }
.rh6c { padding: 0px; text-align: center; width: 148px; }
.taw { height: 148px; width: 148px; }

/* ::::: null ::::: */

div, ul, li { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; overflow: hidden; position: absolute; right: 16px; top: 1px; text-rendering: geometricprecision; width: 15px; z-index: 9020; }
.abgb { display: block; height: 15px; width: 15px; }
.abgc { cursor: pointer; }
.cbb { background-image: url('x_button_ffffff_00aecd_10.svg'); background-repeat: no-repeat; background-position: right top; cursor: pointer; height: 15px; width: 15px; z-index: 9020; }
.cbb:hover { background-image: url('x_button_dark.svg'); cursor: pointer; }
.abgb { position: absolute; right: 0px; top: 0px; }
.cbb { position: absolute; right: 1px; top: 1px; }
.abgc img { display: block; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(255, 255, 255); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }

/* ::::: null ::::: */

#survey-container { position: absolute; top: 0px; left: 0px; z-index: 9100; width: 150px; height: 150px; overflow: hidden; background-color: rgb(250, 250, 250); font-size: 0px; white-space: nowrap; }
.survey-native-scroll #survey-container { overflow-x: scroll; }
.survey-horiz, .survey-vert { text-align: center; }
#survey-container * { box-sizing: border-box; }
.survey-block { height: 50px; }
.survey-option { position: relative; z-index: 9110; overflow: hidden; display: inline-block; padding: 1px 5px; width: 96px; height: 50px; border: 1px solid rgb(224, 224, 224); background-color: rgb(255, 255, 255); cursor: pointer; }
.survey-option:hover, .survey-scroll .survey-option:active { background-color: rgb(245, 245, 245); }
.survey-option div { width: 100%; height: 100%; display: table; text-align: center; }
.survey-option span { vertical-align: middle; display: table-cell; color: rgb(66, 133, 244); font-family: Arial,sans-serif; text-align: center; font-size: 12px; line-height: 14px; white-space: normal; }
@media (min-height: 54px) {
  .survey-horiz.survey-spaced .survey-option, .survey-vert .survey-option { box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.26) !important; border: medium none; }
}
#mute_panel.survey-horiz .survey-option { display: inline-block; margin-left: -1px; box-shadow: none; }
#mute_panel.survey-horiz .survey-option:first-child { margin-left: 0px; }
#mute_panel.survey-horiz.survey-spaced .survey-option { margin-left: 8px; }
#mute_panel.survey-horiz.survey-spaced .survey-option:first-child { margin-left: 0px; }
#mute_panel.survey-horiz.jake-middle .survey-block { margin-top: 50px; }
#mute_panel.survey-horiz.jake-top .survey-block { margin-top: 8px; }
#mute_panel.survey-vert .survey-option, #mute_panel.survey-horiz.survey-spaced .survey-option { border-radius: 2px; }
#mute_panel.survey-vert .survey-option { margin: 8px auto 0px; display: block; }
#mute_panel.survey-vert.jake-top .survey-option:first-child { margin-top: 8px; }
#mute_panel.survey-vert.jake-middle .survey-option:first-child { margin-top: -37px; }
#mute_panel.survey-grid #survey-container { width: initial; height: initial; white-space: normal; padding: 1px; }
#mute_panel.survey-grid .survey-option { display: inline-block; width: 72px; height: 72px; margin: 1px; }
#mute_panel.survey-small-grid #survey-container { white-space: normal; padding: 23px 0px; }
#mute_panel.survey-small-grid #option-container {  }
#mute_panel.survey-small-grid .survey-option { display: inline-block; margin: 1px; }
.option-container { display: inline-block; }
.scroll, .native-scroll { position: absolute; top: 0px; z-index: 9120; display: none; }
.scroll { width: 30px; border: 1px solid transparent; background-color: rgba(0, 0, 0, 0.6); text-align: center; transition: visibility 150ms step-end 0s; cursor: pointer; }
.native-scroll { width: 10px; }
.survey-scroll .scroll, .survey-native-scroll .native-scroll { display: block; }
.scroll div { position: absolute; top: 50%; left: 50%; height: 36px; width: 36px; margin: -18px 0px 0px -18px; }
.scroll:hover, .scroll:active { background-color: rgba(0, 0, 0, 0.4); }
.scroll-right { right: 0px; }
.native-scroll.scroll-right { box-shadow: -10px 0px 10px -10px rgba(0, 0, 0, 0.3) inset; }
.scroll-right { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.scroll-right div { background-image: url('keyboard_arrow_right_white_36dp.png'); }
.scroll-left { left: 0px; }
.native-scroll.scroll-left { box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.3) inset; }
.scroll-left { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.scroll-left div { background-image: url('keyboard_arrow_left_white_36dp.png'); }
.survey-option { transition: margin 150ms linear 0s; }

/* ::::: null ::::: */

#panel_set > .panel { position: fixed; top: -150px; left: -150px; z-index: 9100; display: block; width: 150px; height: 150px; }
#panel_set img { border: 0px none; }
#panel_set > .panel.visible, #panel_set .visible .panel { position: fixed; left: 0px; top: 0px; opacity: 1; }
#panel_set .panel-container { display: table; width: 150px; height: 150px; margin: 0px; padding: 0px; background-color: rgb(250, 250, 250); }
#panel_set .panel-row { display: block; padding: 0px 0px 0.3em; }
#panel_set .panel-row:first-child { padding: 0.3em; }
#panel_set .panel-content { vertical-align: top; display: table-cell; color: rgba(0, 0, 0, 0.4); transition: opacity 150ms linear 0s; text-align: center; font-family: "Arial",sans-serif; }
.collapsed #panel_set .fade { opacity: 0.4; }
.jake-middle.survey-horiz #panel_set .panel-content { vertical-align: middle; }
#ad_closed_panel .btn { display: inline-block; border-radius: 2px; box-sizing: border-box; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.26) !important; text-decoration: none; white-space: nowrap; line-height: 1em; cursor: pointer; }
#closed_text, #final_closed_text { display: inline-block; line-height: 1.28em; font-size: 1.2em; }
#closed_text img, #final_closed_text img { margin-bottom: -0.34em; height: 1.25em; display: inline-block; width: auto; opacity: 0.4; }
#spacer { display: inline-block; padding: 0px; box-shadow: none; width: 3px; }
#ad_closed_panel .responsive-btn { max-width: 288px; width: 75%; white-space: normal; margin-bottom: 0.4em; }
#spacer { display: none; }
#ad_closed_panel .responsive-btn { max-width: 198px; width: 90%; white-space: normal; margin-bottom: 0.4em; }
#spacer { display: none; }
.btn > span { display: inline-block; padding: 0.5em 0.6em; line-height: 1em; }
#settings_btn { background-color: rgb(255, 255, 255); color: rgb(158, 158, 166); }
#settings_btn:hover, #settings_btn:active { background-color: rgb(245, 245, 245); }
#settings_text { white-space: nowrap; }
#report_btn { background-color: rgb(66, 133, 245); color: white; }
#report_btn:hover, #report_btn:active { background-color: rgb(50, 117, 229); }
#settings_icon { position: relative; display: inline-block; margin-bottom: -0.15em; height: 1em; width: 1em; opacity: 0.4; }
[dir="rtl"] #settings_icon { float: left; }
#confirmation_msg { font-weight: bold; color: rgb(51, 51, 51); }
#confirmation_msg, #final_closed_text { line-height: 1.1em; padding: 0.3em; }
#confirmation_msg, #final_closed_text { padding: 1em 0.3em; }
#post_survey_panel span { display: block; text-align: center; line-height: 1em; }
#post_survey_panel a, #post_survey_panel a:active, #post_survey_panel a:hover { text-decoration: none; color: rgb(66, 133, 245); }
#final_closed_panel, #final_closed_panel #final_closed_text { opacity: 0; transition: opacity 400ms linear 0s; }
#final_closed_panel span { white-space: normal; }
#final_closed_panel #final_closed_text.visible { opacity: 1; }
.fallback-wrap .btn { margin: 1px auto; white-space: normal; }
