.bottomlinks {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0099CC;

}
.bottomtext {

	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}
.heading {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #5C5C5C;


}
.navigationruler {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDCDCD;
}
.navigationlinks {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;

}
.normaltext {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 17px;
	text-align: justify;


}
.headingsmall {

	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #5C5C5C;
}
.detailbg {
	background-image: url(detailbg.gif);
}
.jname {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #5C5C5C;
	text-decoration: none;

}
.linespace {

	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 17px;
	text-align: justify;
}
.authors {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0099CC;
	text-decoration: none;

}
